{% extends "core/base.html" %}

{% block title %}Contacto{% endblock title %}

{% block img-header %} contact {% endblock img-header %}

{% block title-header %}
<div>
  <h1 class="display-4 fw-bold">Contacto</h1>
</div>
<div>
  <h3 class="fs-2">Asesoría personal</h3>
</div>
{% endblock title-header %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
      <br>
      <p><b>Teléfono:</b> +057 312 8552538</p>
      <p><b>Email:</b> christiancastellanos01@gmail.com</p>
      <p><b>Honorarios:</b> A convenir</p>
    </div>
  </div>
</div>
</div>
{% endblock content %}